/* top bar */
#header {
    background: linear-gradient(90deg,#0b3d6d,#114f8e);
}

/* module headers */
.module h2, .module caption {
    background:#0b3d6d;
}

/* buttons */
.button, input[type=submit], input[type=button] {
    background:#0b3d6d !important;
    border:none;
}

/* links */
a:link, a:visited {
    color:#0b3d6d;
}
